<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${callsite} | ${message} | ${exception:format=tostring}"/>
  <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${threadid} | ${level} | ${logger} | ${callsite} | ${message} | ${exception:format=tostring}"/>
  <variable name="LogDay" value="${date:format=dd}"/>

  <targets>
    <target name="operation" xsi:type="File" layout="${brief}" fileName="Logs/operation_${LogDay}.log" encoding="utf-8"
        maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="Logs\Archive\operation_${LogDay}_{#######}.zip" enableArchiveFileCompression="true"/>
    <target name="development" xsi:type="File" layout="${verbose}" fileName="Logs/development_${LogDay}.log" encoding="utf-8"
        maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="Logs\Archive\development_${LogDay}_${#######}.zip" enableArchiveFileCompression="true"/>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" enableAnsiOutput="false" layout="${brief}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="operation" />
    <logger name="*" minlevel="Trace" writeTo="development, coloredConsole" />
  </rules>
</nlog>